# AWS Configuration
EXPO_PUBLIC_AWS_REGION=eu-central-1
EXPO_PUBLIC_USER_POOL_ID=eu-central-1_E7M5G0pFZ
EXPO_PUBLIC_USER_POOL_CLIENT_ID=7rqfpkbr074besmglu0pe5nnos
EXPO_PUBLIC_API_URL=https://vsxihe0ysi.execute-api.eu-central-1.amazonaws.com/v1
